*,
*::before,
*::after{
    margin: 0;
    padding: 0;
}
body{
    background: $title-text-color;
    font-family: $roboto;
    font-style: normal;
}
a{
    text-decoration: none;
    cursor: pointer;
}
button{
    cursor: pointer;
}
ul{
    list-style: none;
}