// variable colors:
    $primary-text-color: #212121;
    $title-text-color: #FFFFFF;
    $secondary-text-color: #757575;
    $accent-color: #2196F3;
    $background-color: #F5F4FA;
    $contrast-color: #2F303A;
    $icon-color: #afb1b8;

// variable fonts:
    $raleway: 'Raleway';
    $roboto: 'Roboto', sans-serif;
    $black: 900;
    $bold: 700;
    $medium: 500;
    $regular: 400;
