footer {
    padding: 60px 0;
    background-color: $contrast-color;
    .footer-wrapper{
        display: flex;
            .webstudio-link{
                width: 145px;
                display: block;
                margin-bottom: 20px;
                .web{
                    font-family: 'Raleway';
                    font-weight: $bold;
                    font-size: 26px;
                    line-height: 1.192;
                    letter-spacing: 0.03em;
                    color: $accent-color;
                    .footer-studio {
                        color: white;
                    }
                }
            }
            address{
                width: 231px;
                display: block;
                font-style: normal;
                .address-text{
                    display: block;
                    margin-bottom: 9px;
                    font-weight: $regular;
                    font-size: 14px;
                    line-height: 1.714;
                    letter-spacing: 0.03em;
                    color: $title-text-color;
                }
                li{
                    display: block;
                    margin-bottom: 9px;
                    &:last-child{
                        margin-bottom: 0;
                    }
                    a{
                        font-weight: $regular;
                        font-size: 14px;
                        line-height: 1.714;
                        letter-spacing: 0.03em;
                        color: rgba(255, 255, 255, 0.6);
                        }
                }
            }
        .follow-us-container{
            display: block;
            margin-left: 70px;
            padding-top: 12px;
            .footer-social-links{
                display: flex;
                li{
                    margin-left: 10px;
                    &:first-child{
                        margin-left: 0;
                    }
                    a{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 44px;
                        height: 44px;
                        fill: $title-text-color;
                        background-color: rgba(255, 255, 255, 0.1);
                        border-radius: 50%;
                        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
                        &:hover{
                            background-color: $accent-color;
                        }
                        &:focus{
                            background-color: $accent-color;
                            border-radius: 50%;
                        }
                    }
                }
            }
        }
        .subscribe-container{
            display: block;
            padding-top: 12px;
            margin-left: auto;
            form{
                display: flex;
                height: 50px;
                input{
                    display: block;
                    width: 358px;
                    height: 50px;
                    margin-right: 12px;
                    padding: 15px 16px;
                    background-color: transparent;
                    border: 1px solid rgba(255, 255, 255, 0.3);
                    box-sizing: border-box;
                    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
                    border-radius: 4px;
                    font-style: normal;
                    font-weight: $regular;
                    font-size: 16px;
                    line-height: 1.25;
                    letter-spacing: 0.03em;
                    color: rgba(255, 255, 255, 0.6);
                }
                button{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    text-align: center;
                    padding: 10px 28px;
                    font-style: normal;
                    font-weight: $bold;
                    font-size: 16px;
                    line-height: 1.875;
                    letter-spacing: 0.06em;
                    color: $title-text-color;
                    background: $accent-color;
                    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
                    border-radius: 4px;
                    border: none;
                    svg{
                        margin-left: 10px;
                        fill: $title-text-color;
                    }
                }
            }
        }
    }
}
