.section-2,
.section-5  {
    padding: 94px 0;
    margin: 0 auto;
    background-color: $title-text-color;
}
.section-2 ul,
.section-3 ul {
    display: flex;
    justify-content: space-between;
}
.section-3 h2,
.section-4 h2,
.section-5 h2 {
    margin-bottom: 50px;
    font-weight: $bold;
    font-size: 36px;
    line-height: 1.167;
    text-align: center;
    letter-spacing: 0.03em;
    color: $primary-text-color;
}
.follow-us-container p,
.subscribe-container p {
    margin-bottom: 20px;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $title-text-color;
}