.header-container{
    margin: 0 auto;
    background-color: $title-text-color;
    .header-wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .link{
            .web{
                font-family: $raleway;
                font-weight: $bold;
                font-size: 26px;
                line-height: 1.192;
                letter-spacing: 0.03em;
                color: $accent-color;
                .header-studio{
                    color: black
                }
            }
        }
        .nav-container{
            margin-left: 93px;
            .navigation-menu{
                display: flex;
                align-items: center;
                box-sizing: border-box;
                .item{
                    display: block;
                    box-sizing: border-box;
                    padding: 31px 0;
                    margin-right: 50px;
                    .link{
                        padding: 31px 0;
                        font-weight: $medium;
                        font-size: 14px;
                        line-height: 1.143;
                        letter-spacing: 0.02em;
                        color: $primary-text-color;
                        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
                        &.active::after{
                            content: "";
                            position: absolute;
                            display: block;
                            width: 100%;
                            height: 4px;
                            left: 0;
                            bottom: 0;
                            background-color: $accent-color;
                            border-radius: 2px;
                        }
                        &.active{
                            color: $accent-color;
                            position: relative;
                        }
                        &:hover,
                        &:focus{
                        color: $accent-color;
                        }
                    }
                    &:last-child{
                        margin: 0;
                    }
                }   
            }
        }    
        .contacts-list{
            display: flex;
            align-items: center;
            margin-left: auto;
            .item{
                &:last-child{
                margin-left: 30px;}
                .link{
                    display: flex;
                    align-items: center;
                    font-weight: $medium;
                    font-size: 14px;
                    line-height: 1.143;
                    letter-spacing: 0.02em;
                    color: $secondary-text-color;
                    list-style: none;
                    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
                    svg{
                        fill: $icon-color;
                        margin-right: 10px;
                        background-position: center;
                        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
                    }
                    &:hover svg,
                    &:focus svg{
                    fill: $accent-color;
                    }
                    &:hover,
                    &:focus{
                    color: $accent-color;
                    }
                }
            }
        }
    }
}