.section-2{
    h2{
        display: none;
        }
    .work-list{
        .item{
            width: 270px;
            &::before{
                content: "";
                display: block;
                width: 270px;
                height: 120px;
                background-position: center;
                background-repeat: no-repeat;
                background-color: #F5F4FA;
            }
            &:nth-child(1)::before{
                background-image: url(../img/svg/group.svg);
            }
            &:nth-child(2)::before{
                background-image: url(../img/svg/clock.svg);
            }
            &:nth-child(3)::before{
                background-image: url(../img/svg/diagram.svg);
            }
            &:nth-child(4)::before{
                background-image: url(../img/svg/astronaut.svg);
            }
            .title{
                font-weight: $bold;
                font-size: 14px;
                line-height: 1.143;
                letter-spacing: 0.03em;
                text-align: left;
                text-transform: uppercase;
                color: $primary-text-color;
                margin-bottom: 10px;
                margin-top: 30px;
            }
            .discription{
                font-weight: $regular;
                font-size: 14px;
                line-height: 1.714;
                letter-spacing: 0.03em;
                color: $secondary-text-color;
            }
        }
    }
}